.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: help;
}

.tooltip .tooltiptext {
  visibility: visible;
  width: 589px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  position: absolute;
  transform: translate(-38%, -13%);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.effect-type {
  color: #ffd800;
}

.effect-value {
  color: #aae7b0;
}
.effect-duration {
  color: #e21783;
}
.effect-target {
    color: #e22b17;
  }
  .effect-chance {
    color: #b69ed8;
  }